footer
    div
        span subscribe with 
        span #[a(href='/feed.rss') rss] or through 
        span #[a(href='https://itunes.apple.com/us/podcast/in-over-our-heads/id1072652131?mt=2') iTunes] - 
        span produced by #[a(href="/hosts") seth and luke]