$episode-height: 400px;
#episode-list {
    .episode {
        @include row();
        min-height: $episode-height;
        margin: 10px 0;
        padding: 15px 0;
        border: 2px solid darken($header-bg-color, 20%);
        border-width: 0 0 2px 0;
        box-shadow: 0 4px 2px -2px lighten($header-bg-color, 35%);
        box-sizing: content-box;
        overflow: hidden;
        .latest {
            background-color: $highlight-color;
            box-shadow: 0 4px 4px -2px $header-bg-color;
            opacity: .95;
            padding: .4em 0;
            text-align: center;
            border: 1px solid black;
            position: absolute;
            top: 10px;
            width: 100%;
        }
        h2 {
            margin: 1em 0 .3em 0;
        }
        .recording-ts {
            margin: .3em 0;
            font-style: italic;
        }
        .episode-header {
            @include span-columns(3);
            position: relative;
            height: 100%;
            background-color: black;
            img {
                vertical-align: top;
                width: 100%;
                border: 2px solid darken($header-bg-color, 20%);
                min-width: 25%;
                height: $episode-height;
                overflow: hidden;
            }
        }
        .show-notes {
            @include span-columns(9);
        }
        .notes-content ol {
            padding-left: 30px;
        }
        .notes-content li {
            list-style-type: decimal;
        }
    }
}