$primary-episode-font-size: 1.6em;

#episode-list {
    .episode-main {
        @include row();
        margin: 12px 0;
        
        .play-button {
            @include span-columns(.5);
            font-size: $primary-episode-font-size * 1.2;
            line-height: $primary-episode-font-size * 1.2;
            
            color: #999;
            
            &:hover {
                color: inherit;
            }
        }
        
        .episode-id {
            @include span-columns(1);
            font-size: $primary-episode-font-size * 1.2;
            line-height: $primary-episode-font-size * 1.2;
        }
        
        .episode-core-content {
            @include span-columns(6);
        }
        
        .episode-title {
            font-size: $primary-episode-font-size;
            margin-bottom: 2px;
        }
        
        .episode-publication-date {
            color: #999;
        }
        
        .episode-button {
            font-size: $primary-episode-font-size * 0.5;
            display: inline-block;
            
            margin-left: 5%;
            &:first-child {
                margin-left: 10%;
            }
            
            
            span {
                margin-left: 5px;
            }
        }
    }
    
    .show-notes {
        display: none;
    }
}