#episode-list {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    vertical-align: top;
}

#show-notes {
    display: inline-block;
    width: 77%;
    vertical-align: top;
    margin: 0 1%;
}

div#player {
    margin: 2% 0;
}

footer {
    margin-top: 1.5%;
    padding-top: .5%;
    .subscribe-img {
        display: inline-block;
        height: 1.8em;
    }
    p {
        display: inline-block;
        margin-left: 1%;
        vertical-align: middle;
    }
}

p {
    margin-top: 0;
}