a {
    text-decoration: none;
}

body {
    background-color: #ddd;
    padding: .5%;
    font-family: 'Montserrat', sans-serif;
}

header {
    h1 {
        text-transform: lowercase;
        font-size: 4em;
        padding: 0;
        margin: 0;
    }
    h2 {
        text-transform: lowercase;
        padding: 0;
        margin: 1% 0 0 0;
    }
    padding-bottom: 1%;
}

#summary {
    padding: 1%;
    margin: 1% 0;
    border: 2px solid black;
    border-width: 2px 0 2px 0;
    p {
        margin: 0;
    }
    background-color: #1760A9;
    color: white;
    text-shadow: 1px 1px 3px black;
}

#episode-list {
    border: solid black;
    border-width: 1px 1px 0 1px;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        border-bottom: 1px solid black;
        padding: 5% 3%;
        background-color: white;
    }
    li:hover {
        cursor: pointer;
        border-right: 5px solid #1760A9;
    }
    h2 {
        padding: 0;
        margin: 0 0 2% 0;
        font-weight: bold;
        font-size: 1.3em;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
    }
}

p {
    line-height: 1.5em;
}

footer {
    text-align: right;
}